### Processing Data
This set of codes will convert data from the dataframe into a list

In [1]:
import pandas as pd

df = pd.read_csv("https://res.cloudinary.com/avner-king/raw/upload/v1657529916/stars_filtered_P134_fd4zjo.csv")
df.head()

,Unnamed: 0.1,Unnamed: 0,Star_name,Distance,Mass,Radius,Gravity
0,0,0,Sun,0.000016,1.0,1.00,274.269161
1,1,1,Sirius,8.600000,2.1,1.71,196.971800
2,3,3,Alpha Centauri,4.400000,1.1,1.20,209.511165
3,12,12,Altair,17.000000,1.8,1.80,152.371756
4,18,18,Fomalhaut,25.000000,1.9,1.80,160.836854

In [4]:
final_planet_list = []

for planet_data in df.values.tolist():
    temp_dict = {
        "name": planet_data[2],
        "distance_from_earth": planet_data[3],
        "mass": planet_data[4],
        "radius": planet_data[5],
        "gravity": planet_data[6],
    }

    final_planet_list.append(temp_dict)

final_planet_list[:3]

[{'name': 'Sun',
  'distance_from_earth': 1.5813e-05,
  'mass': 1.0,
  'radius': 1.0,
  'gravity': 274.2691614595739},
 {'name': 'Sirius',
  'distance_from_earth': 8.6,
  'mass': 2.1,
  'radius': 1.71,
  'gravity': 196.971799550325},
 {'name': 'Alpha Centauri',
  'distance_from_earth': 4.4,
  'mass': 1.1,
  'radius': 1.2,
  'gravity': 209.51116500384123}]

Full data can be found in `data.py`